.Filters {
  height: 3rem;
  display: grid;
  place-content: center end;
  padding: 0 1rem;
}

.Filters input,
.Filters select {
  padding: calc(0.4rem);
  border: solid 1px #4c4975cc;
  border-radius: 0.2rem;
  font-size: 1rem;
  margin: 0 1rem 0 0.5rem;
  height: 2rem;
}

.Filters button {
  padding: 0.4rem;
  font-size: 1rem;
  background-color: #211e46dd;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  height: 2rem;
  margin-left: 1.5rem;
}

.Filters button:hover {
  background-color: #211e46;
}

.Filters select {
  min-width: 6.5rem;
}

.Filters input[type="number"] {
  width: 6.5rem;
}
